<div class="">
    <div class="abc">
        <footer class="page-footer fixed-footer  bg bg-dark  font-small blue pt-4 text-white" id="footer">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <h5 class="text-uppercase ">Mobile Shopee</h5>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase text-white">Follow Us :</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="text-white">facebook</a>
                            </li>
                            <li>
                                <a href="#" class="text-white">Instagram</a>
                            </li>
                            <li>
                                <a href="#" class="text-white">LinkedIn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase text-white">Support</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="text-white ">FAQ</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">contact us</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">terms and conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">© 2020 Copyright
            </div>
        </footer>
    </div>
</div>